*__pycache__/
*.npy
*.jpg
*-checkpoint.ipynb
*.ipynb
AliPark
AutoBus
Benalua
Diputacion
MercAlic
PzaMont
Rambla
venv
data_alipark.csv
data_autobus.csv
data_benalua.csv
data_diputacion.csv
data_mercado.csv
data_pzamont.csv
data_rambla.csv